* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calculator {
    border: 2px solid #e8e6eb;
    margin: 2rem;
    height: 600px;
    background-color: #b5a1d4;
}

.line {
    display: flex;
    border: 0.5px solid #e8e6eb;
    height: 20%;
}

.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #e8e6eb;
    width: 25%;
    height: 100%;
}
.output {
    border: 0.5px solid #e8e6eb;
}
